# Data Preprocessing

This notebook performs basic data preprocessing for the financial decision-making datasets used in the project. 
It includes simulated data creation and feature scaling to prepare inputs for subsequent modelling and explainability analysis.

In [22]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [24]:
df = pd.DataFrame({
    'age': [25, 40, 35, 50],
    'income': [30000, 60000, 45000, 80000],
    'credit_score': [620, 720, 680, 750],
    'default': [1, 0, 0, 0]
})

In [26]:
scaler = StandardScaler()
df[['age', 'income', 'credit_score']] = scaler.fit_transform(
    df[['age', 'income', 'credit_score']]
)

df

       age    income  credit_score  default
0 -1.38675 -1.283901     -1.489630        1
1  0.27735  0.337869      0.565032        0
2 -0.27735 -0.473016     -0.256833        0
3  1.38675  1.419048      1.181431        0